[submodule "Windows/Config/wezterm-config"]
	path = Windows/Config/wezterm-config
	url = https://github.com/zonglin-hub/wezterm-config.git
[submodule "Windows/Config/nushell-config"]
	path = Windows/Config/nushell-config
	url = https://github.com/zonglin-hub/nushell-config.git
